@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base{
    body {
        margin: 0;
        @apply bg-primaryBg;
        @apply text-primaryBase;
    }
}

@keyframes append-animateion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.new-arrow {
    animation: append-animation 0.5s ease-out;
}
    